<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>

    <div ng-app="">
        <p>Name : <input type="text" ng-model="name"></p>
        <h1>Hello {{name}}</h1>
        <p>My first expression: {{ 5 + 5 }}</p>
        <div ng-app="" ng-init="myCol='lightblue'">

            <input style="background-color:{{myCol}}" ng-model="myCol">

        </div>
        <div ng-app="" ng-init="firstName='John';lastName='Doe'">

            <p>The name is <span ng-bind="firstName + ' ' + lastName"></span></p>

        </div>
    </div>
    <div ng-app="myApp">...</div>

<script>

var app = angular.module("myApp", []);
console.log(app)
</script>

</body>

</html>